<div class="footer">
    <div class="footer-header"></div>
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>À propos</h3>
                    <p>
                    Lorem Ipsum est un générateur de faux textes aléatoires.
                    Vous choisissez le nombre de paragraphes, de mots ou de listes.
                    Vous obtenez alors un texte aléatoire que vous pourrez ensuite utiliser librement dans vos maquettes.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h3>Dérniers Articles</h3>
                    <ul class="footer-posts-title">
                        <li><a href="">Install Gedmo Doctrine2 extensions in Symfony2</a></li>
                        <li><a href="">Yaml mapping example</a></li>
                        <li><a href="">Netbeans 7.4 RC1 est sortie</a></li>
                        <li><a href="">Lorem Ipsum est un générateur</a></li>
                        <li><a href="">Vous obtenez alors un texte aléatoire</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3>Balises</h3>
                    <ul class="list-inline footer-tags">
                        <li><a href="">PHP</a></li>
                        <li><a href="">JAVA</a></li>
                        <li><a href="">HTML</a></li>
                        <li><a href="">CSS</a></li>
                        <li><a href="">jQuery</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright">
                &copy; Copyright 2013 OUARDISOFT
            </div>
            <div class="col-sm-6 text-right">
                {% include 'OSBlogBundle:Partials:_icons.html.twig' %}
            </div>
          </div>
        </div>
    </div>
</div>