<a href="http://www.facebook.com/louardi.abdeltif" class="top-menu" target="_blank"><span class="icon icon-facebook"></span></a>
<a href="http://www.github.com/ouardisoft" class="top-menu" target="_blank"><span class="icon icon-github-alt"></span></a>
<a href="skype:louardi.abdeltif" class="top-menu" target="_blank"><span class="icon icon-skype"></span></a>
<a href="https://twitter.com/ouardisoft" class="top-menu" target="_blank"><span class="icon icon-twitter"></span></a>
<a href="https://plus.google.com/115668416814575086101/posts?partnerid=ogpy0" class="top-menu" target="_blank"><span class="icon icon-google-plus"></span></a>