<div class="post row">
    <div class="col-md-11">
        <div class="row">
            <h4>
            {% if with_title == 1 %}
                <a href="{{ path('_blog_show', {'id': post.id, 'slug': post.slug}) }}">{{ post.title }}</a>
            {% else %}
                {{ post.title }}
            {% endif %}
            </h4>
            <p class="post-info">{{ post.createdAt | localizeddate('medium', 'medium', '', '', 'EEEE dd MMM') }}</p>
            <p class="content-gray">{{ post.content|strip_html_tags([], true)|raw }}</p>

            <p class="post-tags">
                {% for tag in post.tag %}
                    <a href="{{ path('_blog', {'t': tag.name}) }}"><span class="label label-info">{{ tag.name }}</span></a>
                {% endfor %}
            </p>
        </div>
    </div>
</div>
<hr />