<div>
    <h4>Balises</h4>
    <p>
    {% for tag in tags %}
        <a href="{{ path('_blog', {'t': tag.name}) }}"><span class="label label-info">{{ tag.name }}</span></a>
    {% endfor %}
    </p>

    <h4>Les plus vus</h4>
    <p>
        {% render(controller('OSBlogBundle:Blog:mostViewed')) %}
    </p>
</div>
