<div class="navbar navbar-static-top navbar-default navbar1">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        {% include 'OSBlogBundle:Partials:_icons.html.twig' %}
      </div>
      <div class="navbar-collapse navbar-ex1-collapse collapse">
        <form action="{{ path('_blog') }}" class="navbar-form navbar-right">
          <div class="form-group">
            <input name="q" type="text" placeholder="Rechercher" class="form-control input-sm">
          </div>
          <button type="submit" class="btn btn-info btn-sm">
            <span class="icon icon-search"></span>
          </button>
        </form>

        <ul class="nav navbar-nav navbar-right">
            <li class="border-r">
                <a href="">
                    <i class="icon-envelope-alt"></i>
                    <span class="top-menu-spn">louardi.abdeltif@gmail.com</span>
                </a>
            </li>
            <li class="border-r">
                <a href="">
                    <i class="icon-phone"></i>
                    <span class="top-menu-spn">+212 669 615 909</span>
                </a>
            </li>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
</div>

<div class="navbar navbar-static navbar-default navbar2">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="#">
              <img src="{{ asset('/assets/img/logo.png') }}" />
          </a>
      </div>
      <div class="collapse navbar-collapse navbar-ex2-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li{{ is_route('_home') ? ' class="active"' : '' }}>
                <a href="{{ path('_home') }}">Home</a>
            </li>
            <li{{ is_route('_blog') ? ' class="active"' : '' }}>
                <a href="{{ path('_blog') }}">Blog</a>
            </li>
            <li{{ is_route('_about') ? ' class="active"' : '' }}>
                <a href="{{ path('_about') }}">À propos</a>
            </li>
            <li{{ is_route('_tools', true) ? ' class="active"' : '' }}>
                <a href="{{ path('_tools_password_generator') }}">Outils</a>
            </li>
            <li{{ is_route('mremi_contact_form') ? ' class="active"' : '' }}>
                <a href="{{ path('mremi_contact_form') }}">Contact</a>
            </li>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
</div>