{% extends "OSBlogBundle::layout.html.twig" %}

{% block content %}
    {% include 'OSBlogBundle:Partials:_topmenu.html.twig' %}
    <div class="container">
        <div class="col-md-7">
            {% block body "" %}
        </div>

        <div class="col-md-5">
        <br /><br />
        {% if google_maps.hasMaps() %}
            {% for map in google_maps.getMaps() %}
                {% autoescape false %}
                    {{ map.render }}
                {% endautoescape %}
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}