{% extends "OSBlogBundle::layout.html.twig" %}

{% block content %}
    {% include 'OSBlogBundle:Partials:_topmenu.html.twig' %}

    <div class="container blog">
        <div class="col-md-3">
            {% include 'OSBlogBundle:Tools:menu.html.twig' %}
        </div>
        <div class="col-md-9">

        </div>
    </div>
{% endblock %}