<ul class="nav nav-pills nav-stacked">
    <li{{ is_route('_tools_password_generator') ? ' class="active"' : '' }}><a href="{{ path('_tools_password_generator') }}">Mot de passe générateur</a></li>
    <li{{ is_route('_tools_iban') ? ' class="active"' : '' }}><a href="{{ path('_tools_iban') }}">IBAN</a></li>
</ul>