{% extends "OSBlogBundle::layout.html.twig" %}

{% block content %}
    {% include 'OSBlogBundle:Partials:_topmenu.html.twig' %}

    <div class="container blog">
        <div class="col-md-3">
            {% include 'OSBlogBundle:Tools:menu.html.twig' %}
        </div>
        <div class="col-md-9">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}
            {% endfor %}

            <form class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="password_generator_longeur">Longeur</label>
                <div class="controls">
                  {{ form_widget(form.longeur) }}
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    {{ form_widget(form.minuscule) }} Minuscules
                  </label>
                  <label class="checkbox">
                    {{ form_widget(form.majuscule) }} Majuscules
                  </label>
                  <label class="checkbox">
                    {{ form_widget(form.numeric) }} Numériques
                  </label>
                  <label class="checkbox">
                    {{ form_widget(form.symbol) }} Symboles
                  </label>
                  <button type="submit" class="btn">Générer</button>
                </div>
              </div>
              {{ form_widget(form._token) }}
            </form>
        </div>
    </div>
{% endblock %}