{#

This file is part of the Mremi\ContactBundle Symfony bundle.

(c) Rémi Marseille <marseille.remi@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "form_div_layout.html.twig" %}

{% block form_label %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ ' col-lg-2 control-label' }) %}

    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}

    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}

    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ label|trans({}, translation_domain) }}
        {% if required %} *{% endif %}
    </label>
{% endspaceless %}
{% endblock %}

{% block form_row %}
{% spaceless %}
    <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form, label|default(null)) }}

        <div class="col-lg-6">
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}

            {{ form_widget(form, {'attr': attr}) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block choice_widget_expanded %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ ' radio-inline'}) %}

    {% for child in form %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ form_widget(child) }}
            {{ child.vars.label|trans({}, translation_domain) }}
        </label>
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block button_row %}
{% spaceless %}
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' btn btn-default'}) %}

            {{ form_widget(form, {'attr': attr}) }}
        </div>
    </div>
{% endspaceless %}
{% endblock button_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        <span class="help-block">
            {% for error in errors %}
                {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}<br />
            {% endfor %}
        </span>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
