{% extends "OSBlogBundle::layout.html.twig" %}

{% block body_attr %} class="about"{% endblock %}

{% block content %}
    {% include 'OSBlogBundle:Partials:_topmenu.html.twig' %}

    <div class="container blog">
        <div class="col-md-9 blog-content">
            {#
            <div style="text-align: center;">
                <strong style="color: red; font-size: 18px;">En construction</strong>
            </div>
            #}
            
            <div class="row">
                <div class="col-sm-2 col-sm-push-10">
                    <img src="{{ gravatar('louardi.abdeltif@yahoo.fr') }}" class="img-thumbnail" />
                </div>
                <div class="col-sm-10 col-sm-pull-2">
                    <address>
                        <strong>Abdeltif LOUARDI</strong><br />
                        Rue amyot d'inville, Résidence Ismail GH1, app 6.<br />
                        20000 Casablanca.<br /><br />

                        <strong>Téléphone:</strong> +212 6 69 61 59 09<br />
                        <strong>eMail :</strong> louardi.abdeltif@gmail.com<br /><br />

                        Né le 03 Janvier 1984 à Kénitra. ({{ time_diff('1984-01-03'|date()) }})<br />
                        Marié
                    </address>
                </div>
            </div>
            
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#s5240cfe9eff0d_1">
                            <i class="icon-book"></i>
                            <strong>Compétences</strong>
                        </a>
                    </li>
                </ul>
                <table class="table table-striped nowrap">
                    <tr>
                        <th>Conception et Modélisation</th>
                        <td>ITIL, UML, Merise, Méthode agile.</td>
                    </tr>
                    <tr>
                        <th>Patron de Conception</th>
                        <td>MVC, Factory, Singleton, Hook, ORM, Active Record, DI, Builder, Facade.</td>
                    </tr>
                    <tr>
                        <th>Langages de programmation</th>
                        <td>Java, C#, VisualBasic, BourneShell.</td>
                    </tr>
                    <tr>
                        <th>Programmation orientée web</th>
                        <td>PHP, CSS, (x)HTML, JavaScript (jquery, MooTools, Dojo), Ajax, XML, XSL, WSDL, DTD, XSD, SOAP, REST.</td>
                    </tr>
                    <tr>
                        <th>Java</th>
                        <td>Awt, Swing(X), JDBC, JDO, JPOX, JSP, RMI, Sockets.</td>
                    </tr>
                    <tr>
                        <th>Frameworks PHP</th>
                        <td>Symfony1, Symfony2, Zend, CakePHP, Doctrine, Twig.</td>
                    </tr>
                    <tr>
                        <th>Sécurité</th>
                        <td>Injection SQL/E-mail, XSS, CSRF, Brute Force, DoS, SSL, TLS.</td>
                    </tr>
                    <tr>
                        <th>Bases de données</th>
                        <td>MYSQL, Oracle 10g/9i, PostgreSQL. PL/SQL, PLPGSQL, SQL2, SQL3, DQL.</td>
                    </tr>
                    <tr>
                        <th>Test unitaire</th>
                        <td>SimpleTest, PHPUnit, JUnit, CasperJs</td>
                    </tr>
                </table>
                {#
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#s5240cfe9eff0d_1">
                            <i class="icon-book"></i>
                            <strong>Systèmes et Réseaux</strong>
                        </a>
                    </li>
                </ul>
                <table class="table-striped nowrap">
                    <tr>
                        <th>HTTP</th>
                        <td>Apache, Nginx, IIS, Tomcat.</td>
                    </tr>
                    <tr>
                        <th>FTP</th>
                        <td>Pure-FTP, ProFTP, VsFTP.</td>
                    </tr>
                    <tr>
                        <th>Mail</th>
                        <td>Postfix, Exim4, Dovecot(POP3+IMAP).</td>
                    </tr>
                    <tr>
                        <th>DNS</th>
                        <td>BIND9.</td>
                    </tr>
                    <tr>
                        <th>Annuaire</th>
                        <td>OpenLDAP, Active Directory.</td>
                    </tr>
                    <tr>
                        <th>Partage</th>
                        <td>Samba, NFS, CIFS.</td>
                    </tr>
                    <tr>
                        <th>Reverse Proxy / HttpCache</th>
                        <td>Squid, Pound, varnish, LiteSpeed.</td>
                    </tr>
                    <tr>
                        <th>Bureau à distance</th>
                        <td>VNC, TeamViewer, NTRConnect.</td>
                    </tr>
                    <tr>
                        <th>Authentification</th>
                        <td>RADIUS, TACACS+, Kerberos.</td>
                    </tr>
                    <tr>
                        <th>Version</th>
                        <td>GIT, SVN, CVS.</td>
                    </tr>
                    <tr>
                        <th>Autre</th>
                        <td>DHCP, SSH, Telnet, CUPS, OpenVPN.</td>
                    </tr>
                    <tr>
                        <th>Administration</th>
                        <td>Cacti, MRTG, Nagios, Munin, Zabbix, Ntop, Snort.</td>
                    </tr>
                    <tr>
                        <th>Virtualisation</th>
                        <td>Vmware, VirtualBox, Qemu, Ulteo Virtual Desktop.</td>
                    </tr>
                    <tr>
                        <th>Réseau et sécurité</th>
                        <td>NAT, VLANs, Anti-virus, par-feux, Wifi, SSL, TLS, WEP, WPA, WPA2.</td>
                    </tr>
                    <tr>
                        <th>Windows</th>
                        <td>Windows XP, 7, 2000 Server, 2003 Server.</td>
                    </tr>
                    <tr>
                        <th>Linux</th>
                        <td>Fedora, RedHat, CentOS, Debian, UBUNTU.</td>
                    </tr>
                    <tr>
                        <th>Atelier génie logiciel</th>
                        <td>PowerDesigner, Netbeans, Eclipse, Packet tracer, Planner, GanttProject, Oracle Forms9i / Reports.</td>
                    </tr>
                    <tr>
                        <th>Systèmes de paiement</th>
                        <td>Wirecard, Saferpay, Paypal, Mercanet, Allopass, AlertPay.</td>
                    </tr>
                </table>

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#s5240cfe9eff0d_1">
                            <i class="icon-book"></i>
                            <strong>CMS / CMF</strong>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>Blog : WordPress, MadeCmsSimple</li>
                    <li>Forum : PunBB, FluxBB</li>
                    <li>E-Commerce : oSCommerce, Magento, PrestaShop</li>
                    <li>E-Learning : Doceos, Moodle</li>
                    <li>Wiki : MediaWiki</li>
                    <li>Park info. : GLPI</li>
                    <li>ERP/CRM : Zimbra, OpenERP, vTiger,TinyERP</li>
                    <li>Webmail : RoundCube, Squirrelmail</li>
                    <li>Autre : MODx, Redmine</li>
                </ul>

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#s5240cfe9eff0d_1">
                            <i class="icon-book"></i>
                            <strong>Formations</strong>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>Master Universitaire Spécialisé Systèmes d'Information : Management de Projets. Faculté Hassan1 à Settat</li>
                    <li>Licence Professionnelle : Administrateur de bases de données. Faculté IBN Tofail à Kénitra</li>
                    <li>Brevet : Maintenance des appareils informatique et réseaux. Lycée technique à salé</li>
                    <li>Baccalauréat : Electronique. Lycée technique IBN Sina à Kénitra</li>

                    <li>Certificats ITE1 et ITE2.</li>
                    <li>Certificats CCNA1, CCNA2, CCNA3 et CCNA4.</li>
                </ul>

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#s5240cfe9eff0d_1">
                            <i class="icon-book"></i>
                            <strong>Expériences professionnelles et Stages</strong>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>Phoneo à casablanca - Analyste developpeur : </li>
                    <li>TravelRiser à marrakech - Développeur web</li>
                    <li>IGIAM à eljadida - Formateur permanent</li>
                    <li>IMINWORKS à Meknès - Analyste Programmeur</li>
                    <li>R.A.K à kénitra – Stagière analyste programmeur</li>
                    <li>Natura art atlas à Agadir – Stagière développeur web</li>
                </ul>

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#s5240cfe9eff0d_1">
                            <i class="icon-book"></i>
                            <strong>DIVERS</strong>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>Langue : Arabe – Français - Anglais</li>
                    <li>Loisirs : Voyages, Films documentaires, Actualités, jeux</li>
                </ul>
                #}
            </div>
        </div>

        <div class="col-md-3">
            Tags
        </div>
    </div>
{% endblock %}