{% extends "OSBlogBundle::layout.html.twig" %}

{% block content %}
    {% include 'OSBlogBundle:Partials:_topmenu.html.twig' with {'breadcrumb': 1} %}

    <div class="container blog">
        <div class="row-fluid">
            <div class="col-md-9 blog-content">
                {% set tags = [] %}
                {% for post in page %}
                    {% include 'OSBlogBundle:Partials:_post.html.twig' with {'with_title': 1} %}

                    {% set tags = tags|merge(post.tag.toArray()) %}
                {% endfor %}

                {{ pager_pagination(page, 'OSCommonBundle:Pagination:sliding.html.twig')|raw }}
            </div>
            <div class="col-md-3 blog-sidebar">
                {% include 'OSBlogBundle:Partials:_sidebar.html.twig' with {'tags': os.array_unique(tags)} %}
            </div>
        </div>
    </div>
{% endblock %}