{% extends "OSBlogBundle::layout.html.twig" %}

{% block content %}
<div class="container">
    {% include 'OSBlogBundle:Partials:_topmenu.html.twig' %}

    <div class="row-fluid">
        <div class="span9 pull-left">

            {{ form(form, {'fieldset': true, 'form_legend': 'Add Article'}) }}

            <a href="{{ path('_blog') }}">{{ 'Return to posts list'|trans }}</a>
        </div>
    </div>
</div>
{% endblock %}