{% extends "OSBlogBundle::layout.html.twig" %}

{% block content %}
{% include 'OSBlogBundle:Partials:_topmenu.html.twig' with {'breadcrumb': 1} %}

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            {% include 'OSBlogBundle:Partials:_post.html.twig' with {'with_title': 0} %}
        </div>
    </div>
</div>
{% endblock %}