.top-menu {
    color: #A3A3A3;;
    display: inline-block;
    font-size: 16px;
    overflow-x: visible;

    margin-bottom: 0;
    margin-right: 0;
    margin-top: 5px;
    padding: 0 10px 0 0;
}

.top-menu:hover {
    text-decoration: none;
    color: #828282;
}

li.border-r {
    border-right: 2px solid #eeeeee;
}

li.border-r:last-child {
    margin-right: 15px;
}

.navbar-static-top {
    border-top: 4px solid #42b6d8;
}

.navbar-ex2-collapse ul li:last-child {
    margin-right: 20px;
}

.navbar1 {
    margin-bottom: 0;
    min-height: 35px;
}

.navbar1 .input-sm {
    height: 24px;
}
.navbar1 .btn-sm {
    line-height: 1;
}

.navbar1 .navbar-form {
    margin-bottom: 0;
    margin-top: 2px;
}

.navbar1 li a {
    padding-bottom: 5px;
    padding-top: 5px;
}

.navbar2 {
    background-image: none;
    background-color: #fff;
    box-shadow: 0 0 0;
    border-top: 0;
    margin-bottom: 0;
}

.navbar2 li a {
    line-height: 54px
}

.navbar2 li.active {
    border-bottom: 4px solid #42b6d8;
}

.navbar2 li:hover {
    border-bottom: 4px solid #eee;
}

.navbar2 li.active:hover {
    border-bottom: 4px solid #999;
}

.navbar2 .navbar-brand {
    padding: 8px 15px;
}

.carousel-inner img {
    margin: 0 auto;
}

.front-box-list {
    margin-top: 10px;
}

.front-box {
    border: 1px solid #efefef;
    box-shadow: 5px 5px 10px #cdcdcd;
    margin-left: 70px;

    line-height: 20px;
    height: 200px;
}

.footer {
    margin-top: 25px;
    color: #A3A3A3;
}

.footer a {
    color: #A3A3A3;
}

.footer a:hover {
    color: #fff;
}

.footer-header {
    background-color: #4AB9DA;
    height: 8px;
}

.footer-content {
    background-color: #484647;
}

.footer-content h3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.footer-posts-title {
    list-style: none;
    padding: 0;
}

.footer-posts-title li:before {
    content: "\f105";
    font-family: FontAwesome;
    margin-right: 0.5em;
}

.footer-tags li {
    background-color: #3E3C3D;
    padding: 3px 18px 1px;
    margin-bottom: 4px;
    font-size: 10px;
}

.footer-tags li:hover {
    background-color: #4AB9DA;
}

.footer-footer {
    background-color: #3E3C3D;
    padding: 15px 0;
}

.footer-footer .copyright {
    padding-top: 5px;
}

.front-container {
    margin-top: 40px;
}

.front-block {
    margin: 0 30px;
}

.front-block:hover .front-icon {
    background-color: #484647;
}

.front-block:hover .front-description {
    background-color: #4AB9DA;
    color: #fff;
}

.front-icon {
    background: none repeat scroll 0 0 #4AB9DA;
    border: 8px solid #FFFFFF;
    border-radius: 50% 50% 50% 50%;
    height: 88px;
    line-height: 76px;
    margin: auto;
    position: relative;
    vertical-align: middle;
    width: 89px;
    z-index: 2;

    text-align: center;
    font-size: 36px;
    color: #fff;
}

.front-description {
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    margin-top: -24px;
    padding: 35px 20px 20px 20px;
}

.front-recent-posts-title {
    margin-top: 16px;
    font-size: 18px;
    font-weight: bold;
}

.front-recent-posts-line {
    background-color: #EEEEEE;
    height: 4px;
    margin-left: -126px;
    margin-top: 30px;
    position: relative;
    width: 84%;
}

.front-recent-posts {
    margin-top: 12px;
}

.front-recent-post:before {    
    background: none repeat scroll 0 0 #4AB9DA;
    content: "";
    display: block;
    height: 4px;
    margin-left: -16px;
    width: 106%;
}

.front-recent-post {    
    background-color: #FAFAFA;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #eee;
    min-height: 170px;
    margin: 6px 10px 6px 10px;
    width: 48%;
}

.front-recent-post h3 {
    font-size: 14px;
    font-weight: bold;
    color: #4AB9DA;
    margin-bottom: 20px;
}

.blog {
    margin-top: 20px;
}

.blog-content {
    border-right: 1px solid #ddd;
}

.post-info {
    font-size: 80%;
    color: #828282;
}

.blog-sidebar h4 {
    color: #666;
}

.blog-sidebar p {
    margin-bottom: 30px;
}

.nowrap th {
   white-space: nowrap;
}

@media (max-width: 1200px) {
    .front-recent-posts-title {
        font-size: 16px;
    }

    .front-recent-posts-line {
        margin-left: -95px;
        margin-top: 27px;
        width: 83%;
    }

    .front-recent-post:before {
        width: 108%;
    }

    .front-recent-post {
        margin: 6px 24px;
        width: 45%;
    }
}

@media (max-width: 992px) {
    .navbar-form {
        padding: 0;
    }

    .front-recent-posts-line {
        margin-left: -42px;
        margin-top: 26px;
        width: 78%;
    }

    .front-recent-post:before {
        width: 110%;
        margin-left: -15px;
    }

    .front-recent-post {
        margin: 6px 18px;
        min-height: 190px;
    }
}

@media (max-width: 767px) {
    .top-menu {
        padding: 9px 10px;
    }

    .front-recent-post:before {
        width: 104%;
        margin-left: -14px;
    }

    .front-recent-posts-line {
        float: left;
        margin-left: -36px;
        margin-top: 27px;
        width: 78%;
    }

    .front-recent-posts-title {
        float: left;
    }

    .front-recent-post {
        width: 95%;
        min-height: 120px;
    }
}

@media (max-width: 690px) {
    .front-recent-posts-line {
        margin-left: -26px;
        width: 76%;
    }

    .front-recent-post:before {
        margin-left: -15px;
        width: 105%;
    }
}

@media (max-width: 405px) {
    .front-recent-posts-title {
        font-size: 11px;     
        width: 38%;
    }

    .front-recent-posts-line {
        width: 65%;
    }

    .front-recent-post:before {
        width: 110%;
        margin-left: -15px;
    }

    .front-recent-post {
        margin: 5px;
    }
}

@media (max-width: 321px) {
    .front-recent-posts-line {
        margin-left: -13px;
        width: 62%;
        margin-top: 24px;
    }

    .front-recent-post:before {
        width: 111%;
    }
}