{% extends "OSBlogBundle::layout.html.twig" %}

{% block content %}
    {% include 'OSBlogBundle:Partials:_topmenu.html.twig' %}

    <div id="carousel-example-generic" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
            <img src="{{ asset('assets/img/bannier1.png') }}" alt="...">
            <div class="carousel-caption">
              {#<h3>BANNIER</h3>
              <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>#}
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('assets/img/bannier1.png') }}" alt="...">
            <div class="carousel-caption">
              {#<h3>BANNIER</h3>
              <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>#}
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('assets/img/bannier1.png') }}" alt="...">
            <div class="carousel-caption">
              {#<h3>BANNIER</h3>
              <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>#}
            </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="icon-next"></span>
      </a>
    </div>

    <div class="container front-container">
        <div class="row">
            <div class="col-sm-4">
                <div class="front-block">
                    <div class="front-icon">
                        <i class="icon icon-briefcase"></i>
                    </div>
                    <div class="front-description">
                        Lorem Ipsum est un générateur de faux textes aléatoires.
                        Vous choisissez le nombre de paragraphes, de mots ou de listes.
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="front-block">
                    <div class="front-icon">
                        <i class="icon icon-keyboard"></i>
                    </div>
                    <div class="front-description">
                        Lorem Ipsum est un générateur de faux textes aléatoires.
                        Vous choisissez le nombre de paragraphes, de mots ou de listes.
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="front-block">
                    <div class="front-icon">
                        <i class="icon icon-desktop"></i>
                    </div>
                    <div class="front-description">
                        Lorem Ipsum est un générateur de faux textes aléatoires.
                        Vous choisissez le nombre de paragraphes, de mots ou de listes.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container front-container">
      <!-- Example row of columns -->
      <div class="row">
          <div class="col-xs-3 front-recent-posts-title">
              Dérniers Articles
          </div>
          <div class="col-xs-9 front-recent-posts-line"></div>
      </div>
      <div class="row front-recent-posts">
        {% for post in frontPosts %}
        <div class="col-sm-6 front-recent-post">
          <h3>{{ post.title | truncate(50, true) }}</h3>
          <p>{{ post.content  | truncate(200, true) | strip_html_tags([], true) | raw }}</p>
          {#<p><a class="btn" href="{{ path('_post_show', {'id': post.id}) }}">Afficher la suite &raquo;</a></p>#}
        </div>
        {% endfor %}
      </div>
    </div> <!-- /container -->
{% endblock %}

{% block myjs %}
    <script>
        $('.carousel').carousel();
    </script>
{% endblock %}