{{ 'Total'|trans }}: 
{% if nbResults is defined %}
    {{ nbResults }}
{% else %}
        {{ pager.nbResults }} ({{ pager.currentPage ~ '/' ~ pager.nbPages }}) <br />
        <ul class="pagination">
        {% if pager.haveToPaginate %}
            <li{{ pager.currentPage == 1 ? ' class="disabled"' : '' }}>
                <a href="{{ path ~ 'page=1' }}">&lt;&lt;</a>
            </li>

            <li{{ pager.hasPreviousPage ? '' : ' class="disabled"' }}>
                <a href="{{ pager.hasPreviousPage ? path ~ 'page=' ~ pager.previousPage : '' }}">&lt;</a>
            </li>

            {% for page in range %}
                <li{{ page != pager.currentPage ? '' : ' class="active"'}}>
                    <a href="{{ path ~ 'page=' ~ page }}">{{ page }}</a>
                </li>
            {% endfor %}

            <li{{ pager.hasNextPage ? '' : ' class="disabled"' }}>
                <a href="{{ pager.hasNextPage ? path ~ 'page=' ~ pager.nextPage : '' }}">&gt;</a>
            </li>

            <li{{ pager.nbPages != pager.currentPage ? '' : ' class="disabled"' }}>
                <a href="{{ path ~ 'page=' ~ pager.nbPages }}">&gt;&gt;</a>
            </li>
        {% endif %}
        </ul>
{% endif %}