<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('assets/css/bootstrap-theme.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('assets/css/font-awesome.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="{{ asset('assets/js/html5shiv.js') }}"></script>
          <script src="{{ asset('assets/js/respond.min.js') }}"></script>
    <![endif]-->
    {% block style '' %}
  </head>
  <body{% block body_attr '' %}>
      {% block content "" %}

      {% include 'OSBlogBundle:Partials:_footer.html.twig' %}
      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="{{ asset('assets/js/jquery.js') }}"></script>

      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
      {% block myjs '' %}
  </body>
</html>
